# When ansible-playbook is run with CWD here, still resolve the collection from
# the Git/AAP project root (parent of ansible_collections/).
[defaults]
collections_path = ../../../..:~/.ansible/collections:/usr/share/ansible/collections
